<%- include blogheader %>
<%- include blogsubheader %>
<!-- import source files -->
<link rel="stylesheet" href="stylesheets/login.css">
<div class="blog--reg">
	<div id="login">
		<h1>进入组织</h1>
		<form method="post">
		   <input type="text" name="name" placeholder="Username"/><br />
		   <input type="password" name="password" placeholder="Password"/><br />
		   <input type="password" name="passwordRe" placeholder="Password Again"/><br />
		   <input type="email" name="email" placeholder="email"/><br />
		   <input type="submit" value="注册"/>
		</form>
	</div>
</div>
<%- include blogfooter %>