<%- include blogheader %>
<%- include blogsubheader %>
<!-- import source files -->
<link rel="stylesheet" href="stylesheets/login.css">
<div class="blog--login">
	<div id="login">
		<h1>说粗你的代号</h1>
		<form method="post">
			<input type="text" name="name" placeholder="Username"/></br>
			<input type="password" name="password" placeholder="password"/></br>
			<input type="submit" value="登录" />
		</form>
	</div>
</div>
<%- include blogfooter %>