<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>
    <title>教主的博客小屋</title>
    <!-- Included CSS Files-->
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/blog.css"><!-- blog stylesheet -->
    <link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
    <link rel="stylesheet" href="stylesheets/responsive.css">
    <script charset="utf-8" src="/kindeditor/kindeditor-min.js"></script>
    <script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
        <!-- JAVASCRIPTS
    ================================================== -->
    <!-- Javascript files placed here for faster loading -->
    <script src="javascripts/foundation.min.js"></script>
    <script src="javascripts/jquery.cycle.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/slidepanel.js"></script>
    <script src="javascripts/scrolltotop.js"></script>
    <script src="javascripts/hoverIntent.js"></script>
    <script src="javascripts/responsivemenu.js"></script>
    <script>
      var editor;
      KindEditor.ready(function(K) {
        editor = K.create('textarea', {
          width: '700px',
          allowImageUpload: false,
          items: [
            'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic',
            'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright',
            'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link'
          ]
        });
      });
    </script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- HIDDEN PANEL
    ================================================== -->
    <div id="panel">
      <div class="row">
        <div class="twelve columns">
          <img src="images/info.png" class="pics" alt="info">
          <div class="infotext">
            Thank you for visiting ! Version 0.006
          </div>
        </div>
      </div>
    </div>
    <p class="slide">
    <a href="#" class="btn-slide"></a>
    </p>
    <!-- HEADER
    ================================================== -->
    <div class="row">
      <div class="four columns">
        <div class="logo">
          <h4>YSP的吐槽小屋</h4>
        </div>
      </div>
      <div class="eight columns noleftmarg">
        <nav id="nav-wrap">
          <ul class="nav-bar sf-menu">
            
            <!-- Home
            ============================================ -->
            <li class="current">
              <a title="首页"href="/">首页</a>
            </li>
            
            <!-- Achive
            ============================================ -->
            <li>
              <a title="博客存档" href="/achive">博客存档</a>
            </li>

            <!-- View Picture
            ============================================ -->
            <li>
              <a title="图片墙" href="/viewpic">图片墙</a>
            </li>
            
            <!-- User ManageMent
            ============================================ -->
            <li>
              <% if (user) { %>
              <a href="#">用户管理</a>
              <ul>
                <li><a title="发表" href="/post">发表博文</a></li>
                <li><a title="上传" href="/upload">图片上传</a></li>
                <li><a title="登出" href="/logout">登出</a></li>
              </ul>
              
              <% } else { %>
              <a title="登录" href="/login">登录</a>
              <% } %>
            </li>
            
            <!-- New Commer Register
            ============================================ -->
            <li>
              <% if (!user) { %>
              <a title="注册" href="/reg">注册</a>
              <% } %>
            </li>
            
          </ul>
        </nav>
      </div>
    </div>
    <div class="clear">
    </div>