<%- include blogheader %>
<%- include blogsubheader %>
<form method="post">
	您的邮箱：<br /> 
	<input type="text" name="address" /><br />
	意见和建议：<br />
  	<textarea name="advice" rows="20" cols="100"></textarea><br />
  	<input type="submit" value="发送邮件" />
</form>
<%- include blogfooter %>