<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body>
<div style="display: -webkit-box; -webkit-box-pack: center; /* -webkit-box-orient: vertical; */">
    <div><img src="public/images/Earth_And_Moon.jpg"></div>
    <div>404 Not Found</div>
</div>
</body>
</html>