.boxblog {
	border: 1px solid #ddd;
	padding: 5px 10px;
	margin-bottom: 20px;
}
.date {
	border-bottom: 1px dashed #ddd;
	padding-bottom: 10px;
	font-family: BitterItalic;
}
.continue {
	font-family: DroidSansBold;
	margin-top: -5px;
	display: inline;
}
.tags {
	color: #fff;
	padding: 2px 10px 3px;
	border-radius: 10px;
	display: inline;
	float: left;
	margin: 0 10px 15px 0;
	font-size: 12px;
	font-family: BitterItalic;
}
a.tags, .tags a {
	color: #fff;
}
.tags:hover {
	background: #444;
}
.sidebartitle {
	margin-bottom: 20px;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}
.thumb {
	width: 80px;
	height: 70px;
	border: 1px solid #ccc;
	padding: 2px;
	float: left;
	margin-right: 10px;
	margin-bottom: 1px;
	margin-top: 1px;
}
.circledate {
	color: #fff;
	background: url(../images/common/blackcircle.png) no-repeat;
	width: 100px;
	height: 100px;
	padding: 2px;
	float: left;
	margin: 1px 10px;
}
.textcircle {
	margin-left: -6px;
	margin-top: 20px;
	text-align: center;
	font-family: BitterItalic;
	color: #ddd;
	font-size: 13px;
}
.day {
	margin-bottom: 10px;
}
.saymore {
	font-weight: bold;
}
.comments {
	float: right;
	font-family: BitterItalic;
	font-size: 11px;
	font-weight: normal;
	color: #888;
	margin-top: 10px;
}
.authortext {
	padding-top: 10px;
}
.gravatar {
	margin-right: 20px;
	float: left;
}
.commentdate {
	margin-bottom: 7px;
	color: #aaa;
	font-size: 13px;
}
#subheader {
	padding: 22px 50px 23px 50px !important;
}
.panel {
	border-left: 4px solid #33877d;
	margin-top: 20px;
	width: 43.33%;
	margin-left: 15px;
}

.live {
  overflow: hidden;
  width: 28%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 1.5em;
  margin: 2%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.live > li {
  list-style: none;
  position: relative;
  padding: 0 0 0 2em;
  margin: 0 0 .5em 10px;
  -webkit-transition: .12s;
          transition: .12s;
}
.live > li::before {
  position: absolute;
  content: '\2022';
  font-family: Arial;
  color: #FFF;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 2em;
  opacity: .5;
  line-height: .75;
  -webkit-transition: .5s;
          transition: .5s;
}
.live > li:hover {
  color: #FFF;
}
.live > li:hover::before {
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  opacity: 1;
  text-shadow: 0 0 4px;
  -webkit-transition: .1s;
          transition: .1s;
}

.live.numbers {
  counter-reset: xxx 0;
}
.live.numbers > li::before {
  content: counter(xxx,decimal) ".";
  counter-increment: xxx 1;
  font-family: 'Roboto Condensed';
  font-size: 1em;
  opacity: .5;
  line-height: 1.4;
  -webkit-transition: .5s;
          transition: .5s;
}
.live.numbers > li:hover:before {
  opacity: 1;
  left: -10px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  text-shadow: none;
  -webkit-transition: .12s;
          transition: .12s;
}
