#blog--post__content {
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  display: -webkit-box;
  -webkit-box-align: center;
  margin-left: 15%;
  width: 70%;
}
#blog--post__content h1 {
  background: #3399cc;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}
#blog--post__content form {
  background: #f0f0f0;
  padding: 6% 4%;
  width: 85%;
  margin-left: 7%;
}
#blog--post__content input[type="text"], input[type="password"], input[type="email"] {
  width: 92%;
  background: #fff;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}
#blog--post__content input[type="submit"] {
  width: 100%;
  background: #3399cc;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}
#blog--post__content input[type="submit"]:hover {
  background: rgb(84,102,115);
}
#blog--post__tag-panel{

}